:root {
  color-scheme: light dark;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,9,4,2000&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--4: clamp(0.4608rem, 0.4897rem + -0.0373vw, 0.4823rem);
  --step--3: clamp(0.576rem, 0.5796rem + -0.0047vw, 0.5787rem);
  --step--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
  --step-6: clamp(2.986rem, 2.5319rem + 2.2705vw, 4.2915rem);
  --step-7: clamp(3.5832rem, 2.9636rem + 3.0978vw, 5.3644rem);
  --step-8: clamp(4.2998rem, 3.463rem + 4.1838vw, 6.7055rem);
  --step-9: clamp(5.1598rem, 4.039rem + 5.6037vw, 8.3819rem);

  /* Text vars */
  --text-base: 16px;

  /* Color vars */
  --gray-50: #e3e3e3;
  --gray-100: #d1d1d1;
  --gray-200: #bebebe;
  --gray-300: #acacac;
  --gray-400: #999999;
  --gray-500: #868686;
  --gray-600: #747474;
  --gray-700: #616161;
  --gray-800: #4f4f4f;
  --gray-900: #3c3c3c;
  --gray-950: #1a1a1a;
}

/* Light mode colors */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    background-color: var(--gray-50);
    color: var(--gray-950);
  }

  a {
    color: var(--gray-950);
    text-decoration-color: var(--gray-400);
  }
  a:hover {
    text-decoration-color: var(--gray-950);
  }

  #navbar {
    box-shadow: var(--gray-200) 0px 7px 29px 0px;
  }
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    background-color: var(--gray-950);
    color: var(--gray-50);
  }

  a {
    color: var(--gray-50);
    text-decoration-color: var(--gray-500);
  }
  a:hover {
    text-decoration-color: var(--gray-50);
  }

  #navbar {
    box-shadow: var(--gray-900) 0px 0px 27px 0px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  transition: all 0.4s ease;
}

article {
  max-width: 720px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 10px;
}

p {
  font-size: var(--step-0);
}

::target-text {
  background-color: yellow;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.typewriter {
  overflow: hidden;
  white-space: no-wrap;
  margin: 0 auto;
  border-right: 0.15em solid;
  border-color: light-dark(var(--gray-50), var(--gray-950));
  letter-spacing: 0.1em;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: light-dark(var(--gray-50), var(--gray-950));
  }
}

/* PRIMARY NAVIGATION STYLING */
#navbar {
  width: fit-content;
  height: fit-content;
  padding: 2px 16px 2px 16px;
  border-radius: 16px;
}

#navbar ul {
  padding: 0;
  display: flex;
  gap: 24px;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  text-decoration: underline;
}

/* SKIP LINK STYLING */
#skip a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: light-dark(var(--gray-50), var(--gray-950));
  border-bottom-right-radius: 8px;
  background-color: light-dark(var(--gray-950), var(--gray-50));
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 100;
}

#skip a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top 0.05s ease-in;
  transition: top 0.05s ease-in;
}
