body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 60px;
}

a {
  color: black;
}

ul {
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 10px;
}

::target-text {
  background-color: yellow;
}

.typewriter {
  overflow: hidden;
  white-space: no-wrap;
  margin: 0 auto;
  border-right: 0.15em solid black;
  letter-spacing: 0.1em;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* PRIMARY NAVIGATION STYLING */
#navbar ul {
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

#navbar a:hover {
  text-decoration: underline;
}

/* SKIP LINK STYLING */
#skip a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-bottom-right-radius: 8px;
  background: #000;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 100;
}

#skip a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top 0.05s ease-in;
  transition: top 0.05s ease-in;
}
