---
import '../../styles/style.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake Article</title>
    <script type="application/ld-json"></script>
  </head>
  <body>
    <div id="skip"><a href="#main-content">Skip to main content</a></div>
    <div class="container">
      <header>
        <h1>CJ Dunteman</h1>
        <nav id="navbar" aria-labelledby="primary-navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
      </header>
      <article id="main-content">
        <h1>Fake article</h1>
        <div class="byline">
          <address>By <a rel="author" href="">CJ Dunteman</a></address>
        </div>
        <p>
          This is an article written to demonstrate how the HTML should be
          structured for accessibility and search engine optimization.
        </p>
        <p>
          Text fragments allow linking to a specific text on page that do not
          have an ID. For an example, click on this
          <a
            href="/how-to-write-an-article-for-the-web.html#:~:text=This%20is%20an%20article%20written"
            >link</a
          >.
        </p>
      </article>
    </div>
  </body>
</html>
