---
import '../../styles/style.css'
import Layout from '../../layouts/Layout.astro'

const title = 'Blog - CJ Dunteman'
---

<Layout title={title}>
  <main id="main-content">
    <ul>
      <li>
        <a href="/blog/how-i-use-raycast">How I Use Raycast</a>
      </li>
    </ul>
  </main>
</Layout>
