* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #6a6a6a;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

a {
  color: #6a6a6a;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

h1 {
  padding-bottom: 2rem;
}

/* TYPOGRAPHY */
h2 {
  padding-bottom: 0.5rem;
}

p {
  padding-bottom: 1rem;
}

/* MARKDOWN STYLES */
.markdown-content ul,
ol {
  margin-left: 2rem;
}
.markdown-content li {
  list-style-type: disc;
}
