---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>404</h1>
  <p>Oops. This page doesn't exist.</p>
  <p>
    Go <a href="https://cjdunteman.com" style="text-decoration: underline;"
      >this way</a
    >.
  </p>
</BaseLayout>
