---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CJ Dunteman | Contact" description="Reach out to CJ.">
  <section class="contact">
    <p>
      You can reach me on <a href="https://linkedin.com/in/cjdunteman"
        >linkedin</a
      > or email me at <a href="mailto:cj@cjdunteman.com">cjdunteman.com</a>
    </p>
  </section>
</BaseLayout>
