---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <p>some things I've found of interest on the world wide web</p>
    <p>articles</p>
    <p>these are not endorsements, just things I found interesting / thought-provoking</p>
    <ul>
        <li>
            <a href="https://balajis.com/p/americas-175-trillion-problem">America's $175 Trillion Problem
            </a>
        </li>
        <li>
            <a href="https://stephango.com/remove">What Can We Remove</a>
        </li>
        <li>
            <a href="https://projects.kwon.nyc/internet-is-fun/">The Internet Use to Be Fun</a>
        </li>
        <li>
            <a href="https://paulgraham.com/talk.html">Write Like You Talk</a>
        </li>
    </ul