<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>CJ Dunteman</title>
  </head>
  <body>
    <main style="max-width: 600px; margin: 0 auto; padding: 20px;">
      <h1 style="font-size: 18px; font-style: italic; font-weight: 400;">
        CJ Dunteman
      </h1>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs"
        ><p>onlyfans</p></a
      >
    </main>
  </body>
</html>
