---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="CJ Dunteman | Home"
  description="Welcome to CJ's personal website."
>
  <h1>CJ Dunteman</h1>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/cjdunteman">linkedIn</a>
    </li>
    <li>
      <a href="https://www.github.com/cjdunteman">github</a>
    </li>
    <li>
      <a href="/contact">contact</a>
    </li>
  </ul>
</BaseLayout>
