---
import '../styles/style.css'
import Layout from '../layouts/Layout.astro'

const title = 'CJ Dunteman - Home'
---

<Layout title={title}>
    <main id="main-content">
      <h1 style="font-size: var(--step-4)">CJ Dunteman</h1>
      <p>
        If you must, you can reach me at
        <a href="mailto:cjdunteman@gmail.com">hi@cjdunteman.com</a>
      </p>
      <p>
        The repository for this website can be found
        <a href="https://github.com/cjdunteman/cjdunteman.com">here</a>.
      </p>
    </main>
</Layout>