---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CJ Dunteman";
---

<BaseLayout>
  <h1
    style="font-size: 24px; margin-bottom: 1.5rem; color: #111827; font-weight: 300;"
  >
    CJ Dunteman
  </h1>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/cjdunteman"><p>linkedIn</p></a>
    </li>
    <li>
      <a href="https://www.github.com/cjdunteman"><p>github</p></a>
    </li>
    <li>
      <a href="mailto:hello@cjdunteman.com"><p>contact</p></a>
    </li>
  </ul>
</BaseLayout>

<style>
  li {
    margin-bottom: 0.5rem;
  }
</style>
