---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CJ Dunteman";
---

<BaseLayout>
  <h1 style="font-size: 18px; font-style: italic; font-weight: 400;">
    CJ Dunteman
  </h1>
  <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><p>onlyfans</p></a>
</BaseLayout>
