---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CJ Dunteman";
---

<BaseLayout>
  <h1
    style="font-size: 24px; margin-bottom: 1.5rem; font-style: italic; color: #111827; font-weight: 300;"
  >
    CJ Dunteman
  </h1>
  <a href="https://www.linkedin.com/in/cjdunteman">
    <p style="margin-bottom: 0.5rem">linkedIn</p>
  </a>
  <a href="/onlyfans"><p>onlyfans</p></a>
</BaseLayout>
