---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CJ Dunteman";
---

<BaseLayout>
  <h1
    style="font-size: 24px; margin-bottom: 1.5rem; color: #111827; font-weight: 300;"
  >
    CJ Dunteman
  </h1>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/cjdunteman">linkedIn</a>
    </li>
    <li>
      <a href="https://www.github.com/cjdunteman">github</a>
    </li>
    <li>
      <a href="mailto:hello@cjdunteman.com">contact</a>
    </li>
  </ul>
</BaseLayout>
