---
import '../styles/style.css'
import Layout from '../layouts/Layout.astro'
import { getNotes } from '../content.config';
const title = 'Notes - CJ Dunteman'

const notesPromise = await getNotes();

const notes = notesPromise.sort((a, b) => {
  // Sort from most recent to oldest
  const dateComparison = b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf();

    // If dates are the same, sort by title alphabetically
    if (dateComparison === 0) {
    return a.data.title.localeCompare(b.data.title);
  }

  return dateComparison;
});
---

<Layout title={title}>
    <main id="main-content">
        <h1>Notes</h1>
        <ul>
            {notes.map(note => (
                <li>
                    <a href={`/notes/${note.id}`}>
                        {note.data.title}
                    </a>
                </li>
            ))}
        </ul>
    </main>
</Layout>