---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "CJ Dunteman";
---

<BaseLayout>
  <div
    style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden; max-width: 100%;"
  >
    <iframe
      src="https://giphy.com/embed/Ju7l5y9osyymQ"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
      class="giphy-embed"
      allowfullscreen
    >
    </iframe>
  </div>
  <p>
    <a href="https://giphy.com/gifs/rick-astley-Ju7l5y9osyymQ">via GIPHY</a>
  </p>
</BaseLayout>
