---
import '../styles/style.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <title>Secret Page</title>
    <style>
      #container {
        display: none;
      }
    </style>
  </head>
  <body>
    <form id="pswdForm">
      <input id="inputPswd" type="text" placeholder="Enter password" />
      <button type="button" onclick="validatePswd()">Submit</button>
    </form>
    <div id="container" class="container">
      <h1>Secret Page</h1>
      <p>
        Congratulations on unlocking this secret page! Unfortunately, there is
        nothing exciting here...
      </p>
    </div>
    <script>
      function validatePswd() {
        let correctPswd = "I know the password";
        let inputPswd = document.getElementById("inputPswd") as HTMLInputElement;
        let inputValue = inputPswd.value;

        if (inputValue === correctPswd) {
          console.log("Correct password!");

          document.getElementById("container").style.display = "block";
          document.getElementById("pswdForm").style.display = "none";
        } else {
          console.log("Incorrect password!");
          alert("Incorrect password!");
        }
      }
    </script>
  </body>
</html>
