---
import '../styles/style.css'
import Layout from '../layouts/Layout.astro'
const title = 'Skiing - CJ Dunteman'
---

<Layout title={title}>
  <main id="main-content">
    <p>I love to ski! Check out where I've been this year!</p>
  </main>
</Layout>
