---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>CJ Dunteman</title>
  </head>
  <body>
    <main style="max-width: 600px; margin: 0 auto; padding: 20px;">
      <slot />
    </main>
  </body>
</html>
