@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
  p {
    @apply text-base;
  }
  /* a {
    /* @apply text-white dark:text-white */
  /* } */
  a:hover {
    @apply dark:text-white;
    @apply text-black;
  }
}

/* ---------------- */
/*  CSS RESET       */
/* ---------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  outline: none;
}

/* ---------------- */
/*  Prose           */
/* ---------------- */

.prose {
  @apply text-black dark:text-white;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose h1,
h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-white;
}

.prose a {
  @apply text-purple-500 dark:text-purple-300 transition-all;
}

.prose a > h3 {
  @apply text-white dark:text-white;
}

.prose .anchor:after {
  @apply text-purple-400;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

pre::-webkit-scrollbar {
  display: none;
}

.prose pre {
  @apply border rounded-lg border-black bg-black dark:bg-black;
  overflow: auto;
}

.prose code {
  @apply text-purple-300 dark:text-white p-0.5 border border-purple-200 rounded-md;
}

/* Code blocks */
.prose pre code {
  @apply text-white;
  border: initial;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: hsl(44, 95%, 48%);
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.rehype-code-title {
  @apply px-5 py-3 text-sm font-bold text-white dark:text-white bg-slate-950 border border-black rounded-t-lg dark:border-black dark:bg-slate-950;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}
